extends layout
block content
  main.main_content
    article.homesite_article
      article.homesite_article_inner
        //- header of the page
        .homesite_article_header
          h1 Data Map Overview

        //- introduction
        .homesite_article_introduction_content
          .homesite_article_introduction
            p Introduction of the page
          .homesite_article_introduction_img
            p Imgage of overview map

        //- guides
        .homesite_article_guides_content
          .homesite_article_guides_header
            h1 Map Guides
            //- map layer level
          .homesite_article_guides_layer_level
            .homesite_article_guides_instruction
              p Introduction the layer levels of the map
            .homesite_article_guides_image.layer_img
              p Image of layer levels
              //- search and result 
          .homesite_article_guides_search
            .homesite_article_guides_image.search_mg  
              p Image of searching and result(maybe gif)
            .homesite_article_guides_instruction
              p Instruction for searching  