extends layout
block content
  main.main_content
    article.devsite_article
      article.devstie_article_inner
        //- .devsite_article_meta
        //-   ul.devsite_breadcrumb_list
        //-     li.devsite_breadcrumb_item
        //-       a(href="#" class="") Home
        //-     li.devsite_breadcrumb_item 
        //-       a(href="#" class="") Map
        h1 Home header
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nulla repellendus nobis ipsa veniam inventore recusandae quis architecto praesentium et nihil in doloremque sapiente, neque reiciendis dolorem necessitatibus, voluptatum eaque!
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem, perspiciatis quo incidunt tempore iusto nulla atque aspernatur molestiae perferendis earum fugiat nemo cumque ea rerum quisquam, esse laudantium sunt consequatur?
        h2 Title2
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, repellat cupiditate quas et facere asperiores aliquid rem consectetur optio consequuntur tempora voluptate nostrum quidem quos molestiae deleniti repellendus voluptates sit.