extends layout
block content
  main.main_content
    article.devsite_article
      article.devstie_article_inner
        .devsite_article_meta
          ul.devsite_breadcrumb_list
            li.devsite_breadcrumb_item
              a(href="#" class="") Home
            li.devsite_breadcrumb_item 
              a(href="#" class="") Map
        h1 Content header
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nulla repellendus nobis ipsa veniam inventore recusandae quis architecto praesentium et nihil in doloremque sapiente, neque reiciendis dolorem necessitatibus, voluptatum eaque!
