extends layout
block content

  div(class="content")
    div(id="map")
    div(id="result_box")
      div(id="search_box")
        //- input#trigger.search__checkbox(type='checkbox')
        //- label.search__label-init(for='trigger')
        //- label.search__label-active(for='trigger')
        //- .search__border
        //- input.search__input(type='text')
        //- .search__close

        form.form-inline.my-2.my-lg-0
        input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
