doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/gmap.js')
  body
    
    
    block content
    
    //AIzaSyC2OL-R4c9DjPXxVkvyqWVjcp5xFmitFIQ
    script(async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2OL-R4c9DjPXxVkvyqWVjcp5xFmitFIQ&callback=initMap") 
