doctype html
html
  head
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')

    //-inilialize gg map
    script(src= "https://storage.googleapis.com/map_population/HNward.js" )
    script(src="https://storage.googleapis.com/map_population/CityLevelData.js" )
    script(src='/javascripts/gmap_polygon.js' )
    script(src='/javascripts/gmap_init.js')

    //-navbar
    script(src='/javascripts/navbar.js')
    link(rel="stylesheet", href="/stylesheets/navbar.css")

    //-gg font for the title
    link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet")

    //-search function
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')

    //-side menu
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href='/stylesheets/side_menu.css')
    script(src='/javascripts/sideMenu.js')

    //-control dropdown menu
    link(rel='stylesheet' href='/stylesheets/dropdown_menu_control.css')
    script(src="/javascripts/dropdown_menu_control.js")
    //-load control api
    script(src="https://rack.pub/control.min.js")
 
  body
    block header
      //- title
      div(class="title")
        h1(class="title") Title
      //-nav bar
      nav.menu
        ul.menu__list
          li.menu__group
            a.menu__link(href='/catalog') Home
          li.menu__group
            a.menu__link(href='/catalog/map') Map
          li.menu__group
            a.menu__link(href='/catalog/about') About us
    block content
    
    //-khanh gg map api: AIzaSyAECzjHT9kMSFcH8AIMQdDtPsXzkWuZmCQ
    //- script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAECzjHT9kMSFcH8AIMQdDtPsXzkWuZmCQ')
    //-ngoc gg map api 
    script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAECzjHT9kMSFcH8AIMQdDtPsXzkWuZmCQ&callback=initMap')
    
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    
    block footer
      
