extends layout
block content
 div(class="content")
    //- nav(id="filters" class="filterUI") Filter
    div(id="map")
      

   
    //- create a search box like side menu
    #sideMenu.sideNav
      a.closeBtn(href='javascript:void(0)' onclick='closeNav()') &times;
      form
        .form-group.input-group
          input#search_location.form-control(type='text' placeholder='Search location')
          .input-group-btn
            button.btn.btn-default.get_map(type='submit')
      
      h4 Location Details
      div(class="search")
        p Address:
        input#search_addr(type='text')

      div(class="search")
        p Latitude:
        input#search_latitude(type='text')

      div(class="search")
        p Longitude:
        input#search_longitude(type='text')

      div(class="population")
        p Population:
        input#population(type='text')
    //- span(style="font-size:30px;cursor:pointer" onclick="openNav()") &#x2630; open
         
