extends layout
block content
 main.content
    //- nav(id="filters" class="filterUI") Filter
    #map
    //- create a search box like side menu
    #sideMenu.sideNav
      a.closeBtn(href='javascript:void(0)' onclick='closeNav()') &times;
      form
        .form-group.input-group
          input#search_location.form-control(type='text' placeholder='Search location')
          .input-group-btn
            button.btn.btn-default.get_map(type='submit')
      div#results
        h4 Location Details
        div#search_results
          div(class="search")
            p Address:
            input#search_addr.form-control(type='text' readonly="readonly")
          div(class="search")
            p Latitude:
            input#search_latitude.form-control(type='text' readonly="readonly")
          div(class="search")
            p Longitude:
            input#search_longitude.form-control(type='text' readonly="readonly")
          div(class="image_result")
            h4 Image
            div#pano
      

      //- div(class="population")
      //-   p Population:
      //-   input#population(type='text')
    //- span(style="font-size:30px;cursor:pointer" onclick="openNav()") &#x2630; open
         
