#legend { 
    position: relative;
    display: -webkit-box; 
    height: 40px; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgb(185, 185, 185); }
#color-box{
    -webkit-box-flex: 1;
    height: 40px;
    width: 75vw;
    align-content: center;
    align-items: center;
}
#ruler #data-caret { 
  position: relative;
  left: 0%;
  font-size: 14px; 
  width: 14px;
}
.color-key {
    background: linear-gradient(to right,
    rgb(30, 255, 30) 0%,
    rgb(105, 255, 30) 14%,
    rgb(180, 255, 30) 28%,
    rgb(255, 255, 30) 43%,
    rgb(255, 180, 30) 57%,
    rgb(255, 105, 30) 70%,
    rgb(255, 30, 30) 100%);
    -webkit-box-flex: 1;
    height: 20px;
    width: 90%;
    margin: 5px;
    align-self: center
}
#ruler {
    position: relative;
  }
  #ruler .cm{
    font-size: 10px;
    position: absolute;
    width: 10%;
    color: antiquewhite;
  }

.ruler .cm:after {
  position: absolute;
  bottom: -20px;
  font: 11px/1 sans-serif;
}
  #ruler .cm:nth-of-type(1) {
    left: 0%;
  }
  #ruler .cm:nth-of-type(2) {
    left: 14%;
  }
  #ruler .cm:nth-of-type(3) {
    left: 28%;
  }
  #ruler .cm:nth-of-type(4) {
    left: 43%;
  }
  #ruler .cm:nth-of-type(5) {
    left: 57%;
  }
  #ruler .cm:nth-of-type(6) {
    left: 70%;
  }
  #ruler .cm:nth-of-type(7) {
    left: 85%;
  }
  #ruler .cm:nth-of-type(8) {
    left: 100%;
  }
#PolygonName {
    border-radius: 4px;
    border-color: darkolivegreen;
    background-color: antiquewhite;
    border-style: double;
    margin: 4px;
    width: 25vw;
    text-align: center;
    vertical-align: middle;
    line-height: 36x;
    font-size: 20px;
}