.sideNav{
    height: 600px;
    width: 0;
    position: absolute;
    z-index: 1;
    background-color:#f0f0f0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: block;
    /* margin-top: 15.4%; */
}

.sideNav a{
    padding:8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* .sideNav a:hover{
    color: red;
} */



.sideNav .closeBtn{
    color: black;
    position: absolute;
    top:0;
    right: 10px;
    font-size: 36px;
    /* margin-left: 50px; */
}


/* search box css */
  .form-group.input-group{
    width: inherit;
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    

  }

  #search_location .form-control{
    z-index: 0;
    box-sizing: border-box;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #DADCE0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.2);
    transition-property: background, box-shadow;
    transition-duration: 0.3s;
    text-align: left;
  }
  #sideMenu p, h4{
    margin-left: 10px;
    color: black;
  }

  #sideMenu p{
    width: 80px;
  }

  #sideMenu p, input{
    display: inline-block;
    
  }


  #sideMenu .search{
    margin-bottom: 10px;
  }

  #sideMenu input#search_addr, #search_latitude, #search_longitude, #population{
    box-sizing: border-box;
    width: 50%;
    height: 30px;
    margin-left: 5px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #DADCE0;
   
  }
  .btn.btn-default.get_map{
    height: 34px;
    width: 34px;
    background-image: url(/images/iconfinder-icon.svg);;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  /* #sideMenu input#population{
    box-sizing: border-box;
    white-space: pre-wrap;
    width: 75%;
    height: 300px;
    margin-bottom: 10px;
  } */
  
  /* #sidemenu.sideNav p{
    padding-right: 10px;
    padding-left: 10px;
  } */
@media screen and (max-height: 450px) {
    .sideNav {padding-top: 15px;}
    .sideNav a {font-size: 18px;}
  }