.sideNav{
    height: 700px;
    width: 0;
    position: fixed;
    z-index: 1;
    /* top: 180px;
    left: 0; */
    background-color: #4285F4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: block;
    /* margin-top: 15.4%; */
}

.sideNav a{
    padding:8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover{
    color: red;
}

.sideNav .closeBtn{
    position: absolute;
    top:0;
    right: 10px;
    font-size: 36px;
    /* margin-left: 50px; */
}


/* result box css */
  .form-group.input-group{
    width: inherit;
    z-index: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  #sideMenu p, h4{
    margin-left: 10px;
    color: white;
  }

  #sideMenu p{
    width: 80px;
  }

  #sideMenu p, input{
    display: inline-block;
    
  }
  #sideMenu .search{
    margin-bottom: 10px;
  }

  #sideMenu input#search_addr, #search_latitude, #search_longitude, #population{
    box-sizing: border-box;
    width: 50%;
    margin-left: 5px;
   
  }
  
  /* #sideMenu input#population{
    box-sizing: border-box;
    white-space: pre-wrap;
    width: 75%;
    height: 300px;
    margin-bottom: 10px;
  } */
  
  /* #sidemenu.sideNav p{
    padding-right: 10px;
    padding-left: 10px;
  } */
@media screen and (max-height: 450px) {
    .sideNav {padding-top: 15px;}
    .sideNav a {font-size: 18px;}
  }