div#sideMenu.sideNav{
    height: 800px;
    width: 0;
    position: absolute;
    z-index: 1;
    background-color:#f0f0f0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: block;
    /* margin-top: 15.4%; */
}
div#sideMenu.sideNav::-webkit-scrollbar{
  display: none;
}

.sideNav a.closeBtn{
    padding:8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;

    color: black;
    position: absolute;
    top:0;
    right: 10px;
    font-size: 36px;
}

div#results{
  height: 0;
  overflow: hidden;
}
/* search box css */
  .form-group.input-group{
    width: inherit;
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
  }

  #search_location .form-control{
    z-index: 0;
    box-sizing: border-box;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #DADCE0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.2);
    transition-property: background, box-shadow;
    transition-duration: 0.3s;
    text-align: left;
  }
  #sideMenu p, h4{
    margin-left: 10px;
    color: black;
    text-align: left;

  }
  #sideMenu h4{
    width: 150px;
  }
  #sideMenu p{
    width: 70px;
  }

  #search_results{
    display: flex;
    flex-direction: column;
  }
  #sideMenu div.search{
    width: 380px;
    margin:0px 10px 10px 10px;
    display: flex;
    flex-direction: row;
  }
  #sideMenu input#search_addr.form-control, input#search_latitude, input#search_longitude{
    box-sizing: border-box;
    width: 100px;
    height: 30px;
    margin-left: 2px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #DADCE0;
    background-color: white;
    flex-grow: 1;
  }

  .btn.btn-default.get_map{
    height: 34px;
    width: 34px;
    background-image: url(/images/iconfinder-icon.svg);;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
#pano{
  width: 380px;
  height: 400px;
  margin: 20px 10px;
  flex-grow: 1;
}
