/* general css */
body {
  /* padding: 50px; */
  /* display: flex;
  flex-direction: column; */
	height: 100%;
  background: white;
  font-family: 'Open Sans', sans-serif ;
}

.title h1.title{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 350%;
  line-height: 80px;
  color: #F4B400;
}
.title h1{
  margin: 0;
}
.content{
  padding-top: 3%;
}

/* map css */
#map{
  height: 700px;
  width: 85%;
  overflow: hidden;
  float: right;

}

/* result box css */
#result_box{
  height: 700px;
  width: 15%;
  overflow: hidden;
  float: left;
  background: #4285F4;
}

.form-group.input-group{
  z-index: 0;
}

#search_box{
  margin: 20px 10px 0 10px;

}

#search_box input.search_addr{
  box-sizing: border-box;
  width: 100%;
}

#search_box input.search_latitude{
  box-sizing: border-box;
  width: 100%;
}

#search_box input.search_longitude{
  box-sizing: border-box;
  width: 100%;
}

@media (max-width:960px){
  #map{
    width: 80%;
  }
  #result_box{
    width: 20%;
  }
}