body {
  /* padding: 50px; */
  /* display: flex;
  flex-direction: column; */
	height: 100%;
	background: white;
}

.title h1{
  font-family: 'Open Sans', sans-serif;
}
.content{
  padding-top: 2%;
}
#map{
  height: 550px;
  width: 65%;
  overflow: hidden;
  float: right;
}

#result_box{
  height: 550px;
  width: 35%;
  overflow: hidden;
  float: left;
  background: #4285F4;
}


