body {
  /* padding: 50px; */
  /* display: flex;
  flex-direction: column; */
	height: 100%;
  background: white;
  font-family: 'Open Sans', sans-serif ;
}
a{
  text-decoration-style: none;
}
.title h1.title{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 350%;
  line-height: 80px;
  color: #F4B400;
}
.title h1{
  margin: 0;
}
.content{
  padding-top: 3%;
}
#map{
  height: 550px;
  width: 75%;
  overflow: hidden;
  float: right;
}

#result_box{
  height: 550px;
  width: 25%;
  overflow: hidden;
  float: left;
  background: #4285F4;
}

.content #map #search_box form {
  display: block;
  left: 50%;
  position: absolute;
  top: 30%;
}
.content #map #search_box form input[type=search] {
  border: solid 3px #fff;
  box-sizing: border-box;
  font-size: 2em;
  height: 2em;
  margin-left: -15vw;
  outline: solid #fc0 0;
  padding: 0.5em;
  transition: all 2s ease-in;
  width: 30vw;
  z-index: 0;
}
.content #map #search_box form input[type=search]:focus {
  border: solid 3px #09f;
  outline: solid #fc0 2000px;
}


